<% layout('layout/boilerPlate') %>
<div class="row">
    <h1 class="text-center">Add Farm</h1>
    <div class="col-6 offset-3">
        <form action="/farms" method="post" class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Farm Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Farm Name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <input class="form-control" type="text" name="city" id="city" placeholder="City">
                
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email" placeholder="Email">

            </div>

            
            
          
            
            <div class="mb-3 text-center">
                <button class="btn btn-primary ">Submit</button>
            </div>
        </form>
        
    </div>
</div>
    
    

    